################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
/Assignments/Assignments2/Assignments2_3/Assignment2_3/obj
*.vsidx
*.vsidx
*.json
*.db
*.db-shm
*.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/copilot-chat/8f1f51b1/sessions/adc8285d-5b55-4a16-a838-9143f8b47ccc
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/FileContentIndex/21a181b5-84f9-44b4-af95-52e31a73be3f.vsidx
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/FileContentIndex/abdd47f0-82eb-44d8-bf69-d5bc1169e9b3.vsidx
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/FileContentIndex/c481622a-2417-4722-9cc3-d22ea56f9061.vsidx
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/v18/.wsuo
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/v18/DocumentLayout.backup.json
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/v18/DocumentLayout.json
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3/CopilotIndices/18.0.988.22099/CodeChunks.db-wal
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3/CopilotIndices/18.0.988.22099/SemanticSymbols.db-wal
Assignments/Assignments2/Assignments2_3/Assignment2_3/bin/Debug/net10.0/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/bin/Debug/net10.0/Assignment2_3.exe
Assignments/Assignments2/Assignments2_3/Assignment2_3/bin/Debug/net10.0/Assignment2_3.pdb
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/apphost.exe
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.AssemblyInfo.cs
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.AssemblyInfoInputs.cache
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.csproj.CoreCompileInputs.cache
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.csproj.FileListAbsolute.txt
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.pdb
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/ref/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/refint/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Release/net10.0/Assignment2_3.AssemblyInfo.cs
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Release/net10.0/Assignment2_3.AssemblyInfoInputs.cache
/Assignments/Assignment3/Assignment3_1/Assignment3_1/obj
/Assignments/Assignment3/Assignment3_1/.vs
Assignments/Assignment3/Assignment3_1/Assignment3_1/bin/Debug/net10.0/Assignment3_1.pdb
Assignments/Assignment3/Assignment3_1/Assignment3_1/bin/Debug/net10.0/Assignment3_1.exe
Assignments/Assignment3/Assignment3_1/Assignment3_1/Assignment3_1.csproj
Assignments/Assignment3/Assignment3_1/Assignment3_1.slnx
/Assignments/Assignment3/Assignment3_2/Assignment3_2/obj
/Assignments/Assignment3/Assignment3_2/.vs
Assignments/Assignment3/Assignment3_2/Assignment3_2/Assignment3_2.csproj
Assignments/Assignment3/Assignment3_2/Assignment3_2.slnx
Assignments/Assignment3/Assignment3_2/Assignment3_2/bin/Debug/net10.0/Assignment3_2.exe
Assignments/Assignment3/Assignment3_2/Assignment3_2/bin/Debug/net10.0/Assignment3_2.pdb
/Assignments/Assignment3/Assignment3_3/.vs
/Assignments/Assignment3/Assignment3_3/Assignment3_3/bin
/Assignments/Assignment3/Assignment3_3/Assignment3_3/obj
/Mod3Winformapp/.vs
/Mod3Winformapp/Mod3Winformapp/obj
/Mod3Winformapp/Mod3Winformapp/bin
/Assignments/Assignment3_4/.vs
/Assignments/Assignment3_4/Assignment3_4/obj
/Assignments/Assignment3_4/Assignment3_4/bin
/Assignments/Week3ChallengeLabs/Week3ChallengeLabs/bin
/Assignments/Week3ChallengeLabs/Week3ChallengeLabs/obj
/Assignments/Week3ChallengeLabs/.vs
Assignments/Week3ChallengeLabs/Week3ChallengeLabs.slnx
Assignments/Week3ChallengeLabs/Week3ChallengeLabs/Week3ChallengeLabs.csproj
/Assignments/Assignment4/Assignment4_1/.vs
/Assignments/Assignment4/Assignment4_1/Assignment4_1/bin
/Assignments/Assignment4/Assignment4_1/Assignment4_1/obj
Assignments/Assignment4/Assignment4_1/Assignment4_1/Assignment4_1.csproj
Assignments/Assignment4/Assignment4_1/Assignment4_1/Assignment4_1.csproj.user
Assignments/Assignment4/Assignment4_1/Assignment4_1.slnx
