################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
/Assignments/Assignments2/Assignments2_3/Assignment2_3/obj
