################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.cache
/Assignments/Assignments2/Assignments2_3/Assignment2_3/obj
*.vsidx
*.vsidx
*.json
*.db
*.db-shm
*.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/copilot-chat/8f1f51b1/sessions/adc8285d-5b55-4a16-a838-9143f8b47ccc
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/FileContentIndex/21a181b5-84f9-44b4-af95-52e31a73be3f.vsidx
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/FileContentIndex/abdd47f0-82eb-44d8-bf69-d5bc1169e9b3.vsidx
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/FileContentIndex/c481622a-2417-4722-9cc3-d22ea56f9061.vsidx
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/v18/.wsuo
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/v18/DocumentLayout.backup.json
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3.slnx/v18/DocumentLayout.json
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3/CopilotIndices/18.0.988.22099/CodeChunks.db-wal
Assignments/Assignments2/Assignments2_3/Assignment2_3/.vs/Assignment2_3/CopilotIndices/18.0.988.22099/SemanticSymbols.db-wal
Assignments/Assignments2/Assignments2_3/Assignment2_3/bin/Debug/net10.0/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/bin/Debug/net10.0/Assignment2_3.exe
Assignments/Assignments2/Assignments2_3/Assignment2_3/bin/Debug/net10.0/Assignment2_3.pdb
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/apphost.exe
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.AssemblyInfo.cs
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.AssemblyInfoInputs.cache
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.csproj.CoreCompileInputs.cache
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.csproj.FileListAbsolute.txt
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/Assignment2_3.pdb
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/ref/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Debug/net10.0/refint/Assignment2_3.dll
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Release/net10.0/Assignment2_3.AssemblyInfo.cs
Assignments/Assignments2/Assignments2_3/Assignment2_3/obj/Release/net10.0/Assignment2_3.AssemblyInfoInputs.cache
/Assignments/Assignment3/Assignment3_1/Assignment3_1/obj
/Assignments/Assignment3/Assignment3_1/.vs
Assignments/Assignment3/Assignment3_1/Assignment3_1/bin/Debug/net10.0/Assignment3_1.pdb
Assignments/Assignment3/Assignment3_1/Assignment3_1/bin/Debug/net10.0/Assignment3_1.exe
Assignments/Assignment3/Assignment3_1/Assignment3_1/Assignment3_1.csproj
Assignments/Assignment3/Assignment3_1/Assignment3_1.slnx
/Assignments/Assignment3/Assignment3_2/Assignment3_2/obj
/Assignments/Assignment3/Assignment3_2/.vs
Assignments/Assignment3/Assignment3_2/Assignment3_2/Assignment3_2.csproj
Assignments/Assignment3/Assignment3_2/Assignment3_2.slnx
Assignments/Assignment3/Assignment3_2/Assignment3_2/bin/Debug/net10.0/Assignment3_2.exe
Assignments/Assignment3/Assignment3_2/Assignment3_2/bin/Debug/net10.0/Assignment3_2.pdb
/Assignments/Assignment3/Assignment3_3/.vs
/Assignments/Assignment3/Assignment3_3/Assignment3_3/bin
/Assignments/Assignment3/Assignment3_3/Assignment3_3/obj
/Mod3Winformapp/.vs
/Mod3Winformapp/Mod3Winformapp/obj
/Mod3Winformapp/Mod3Winformapp/bin
/Assignments/Assignment3_4/.vs
/Assignments/Assignment3_4/Assignment3_4/obj
/Assignments/Assignment3_4/Assignment3_4/bin
/Assignments/Week3ChallengeLabs/Week3ChallengeLabs/bin
/Assignments/Week3ChallengeLabs/Week3ChallengeLabs/obj
/Assignments/Week3ChallengeLabs/.vs
Assignments/Week3ChallengeLabs/Week3ChallengeLabs.slnx
Assignments/Week3ChallengeLabs/Week3ChallengeLabs/Week3ChallengeLabs.csproj
/Assignments/Assignment4/Assignment4_1/.vs
/Assignments/Assignment4/Assignment4_1/Assignment4_1/bin
/Assignments/Assignment4/Assignment4_1/Assignment4_1/obj
Assignments/Assignment4/Assignment4_1/Assignment4_1/Assignment4_1.csproj
Assignments/Assignment4/Assignment4_1/Assignment4_1/Assignment4_1.csproj.user
Assignments/Assignment4/Assignment4_1/Assignment4_1.slnx
/Assignments/Assignment4/Week4Challenge/.vs
/Assignments/Assignment4/Week4Challenge/Week4Challenge/obj
Assignments/Assignment4/Week4Challenge/Week4Challenge.slnx
Assignments/Assignment4/Week4Challenge/Week4Challenge/bin/Debug/net10.0/Week4Challenge.exe
Assignments/Assignment4/Week4Challenge/Week4Challenge/bin/Debug/net10.0/Week4Challenge.pdb
Assignments/Assignment4/Week4Challenge/Week4Challenge/Week4Challenge.csproj
/Assignments/Assignment4/Assignment4_1_2/.vs
/Assignments/Assignment4/Assignment4_1_2/Assignment4_1_2/bin
/Assignments/Assignment4/Assignment4_1_2/Assignment4_1_2/obj
/Assignments/Assignment4/Assignment4_3/.vs
/Assignments/Assignment4/Assignment4_3/Assignment4_3/obj
/Assignments/Assignment4/Assignment4_3/Assignment4_3/bin
/Assignments/Assignment4/Assngiment4_2/.vs/Assngiment4_2/CopilotIndices
/Assignments/Assignment4/Assngiment4_2/.vs/CopilotSnapshots
/Assignments/Assignment4/Assngiment4_2/Assngiment4_2/obj
/Assignments/Assignment4/Assngiment4_2/.vs
/Assignments/Assignment4/Assngiment4_2/Assngiment4_2/bin
/Assignments/Assignment5/Assignment5_1/.vs
/Assignments/Assignment5/Assignment5_1/Assignment5_1/obj
Assignments/Assignment5/Assignment5_1/Assignment5_1/Assignment5_1.csproj
Assignments/Assignment5/Assignment5_1/Assignment5_1/bin/Debug/net10.0/Assignment5_1.exe
Assignments/Assignment5/Assignment5_1/Assignment5_1/bin/Debug/net10.0/Assignment5_1.pdb
Assignments/Assignment5/Assignment5_1/Assignment5_1.slnx
/Assignments/Assignment5/Assignment5_2/.vs
/Assignments/Assignment5/Assignment5_2/Assignment5_2/obj
Assignments/Assignment5/Assignment5_2/Assignment5_2/Assignment5_2.csproj
Assignments/Assignment5/Assignment5_2/Assignment5_2/bin/Debug/net10.0/Assignment5_2.exe
Assignments/Assignment5/Assignment5_2/Assignment5_2/bin/Debug/net10.0/Assignment5_2.pdb
Assignments/Assignment5/Assignment5_2/Assignment5_2.slnx
Assignments/Assignment5/Assignment5_3/Assignment5_3/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Assignments/Assignment5/Assignment5_3/Assignment5_3/obj
Assignments/Assignment5/Assignment5_3/Assignment5_3.slnx
Assignments/Assignment5/Assignment5_3/Assignment5_3/Assignment5_3.csproj
Assignments/Assignment5/Assignment5_3/.vs/Assignment5_3.slnx/v18/.suo
/Assignments/Assignment5/Assignment5_3/.vs
/Assignments/Assignment5/Assignment5_4/.vs
/Assignments/Assignment5/Assignment5_4/Assignment5_4/obj
Assignments/Assignment5/Assignment5_4/Assignment5_4/Assignment5_4.csproj
Assignments/Assignment5/Assignment5_4/Assignment5_4/bin/Debug/net10.0/Assignment5_4.exe
Assignments/Assignment5/Assignment5_4/Assignment5_4/bin/Debug/net10.0/Assignment5_4.pdb
Assignments/Assignment5/Assignment5_4/Assignment5_4.slnx
/Assignments/Assignment5/ChallengeLabWeek5/ChallengeLabWeek5/bin
/Assignments/Assignment5/ChallengeLabWeek5/.vs
/Assignments/Assignment5/ChallengeLabWeek5/ChallengeLabWeek5/obj
Assignments/Assignment5/ChallengeLabWeek5/ChallengeLabWeek5/ChallengeLabWeek5.csproj
Assignments/Assignment5/ChallengeLabWeek5/ChallengeLabWeek5.slnx
/Assignments/Assignments6/Assignments6_1/.vs
/Assignments/Assignments6/Assignments6_1/Assignments6_1/obj
/Assignments/Assignments6/Assignments6_1/Assignments6_1/bin
Assignments/Assignments6/Assignments6_1/Assignments6_1/Assignments6_1.csproj
Assignments/Assignments6/Assignments6_1/Assignments6_1.slnx
/Assignments/Assignments6/Assignments6.2/.vs
/Assignments/Assignments6/Assignments6.2/Assignments6.2/obj
Assignments/Assignments6/Assignments6.2/Assignments6.2/Assignments6.2.csproj
Assignments/Assignments6/Assignments6.2/Assignments6.2.slnx
/Assignments/Assignments6/Assignments6_3/.vs
/Assignments/Assignments6/Assignments6_3/Assignments6_3/bin
/Assignments/Assignments6/Assignments6_3/Assignments6_3/obj
Assignments/Assignments6/Assignments6_3/Assignments6_3/Assignments6_3.csproj
Assignments/Assignments6/Assignments6_3/Assignments6_3.slnx
/Assignments/Assignment7/Assignment7_1/.vs
/Assignments/Assignment7/Assignment7_1/Assignment7_1/obj
Assignments/Assignment7/Assignment7_1/Assignment7_1.slnx
Assignments/Assignment7/Assignment7_1/Assignment7_1/Assignment7_1.csproj
/Assignments/Assignment7/Assignment7_2/.vs
/Assignments/Assignment7/Assignment7_2/Assignment7_2/obj
Assignments/Assignment7/Assignment7_2/Assignment7_2.slnx
Assignments/Assignment7/Assignment7_2/Assignment7_2/Assignment7_2.csproj
/Assignments/Assignment7/Assignment7_3/.vs
/Assignments/Assignment7/Assignment7_3/Assignment7_3/obj
Assignments/Assignment7/Assignment7_3/Assignment7_3/Assignment7_3.csproj
Assignments/Assignment7/Assignment7_3/Assignment7_3.slnx
